<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QualificationsDBEntities" connectionString="metadata=res://*/BussinesEntities.csdl|res://*/BussinesEntities.ssdl|res://*/BussinesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WIN-KNO95PNPR5K\SQLEXPRESS;Initial Catalog=QualificationsDB;User ID=sa;Password=123qwe;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="QualificationsDBConnectionString" connectionString="Data Source=WIN-KNO95PNPR5K\SQLEXPRESS;Initial Catalog=QualificationsDB;User ID=sa;Password=123qwe"
      providerName="System.Data.SqlClient" />
    <add name="QualificationsDBConnectionString2" connectionString="Data Source=WIN-KNO95PNPR5K\SQLEXPRESS;Initial Catalog=QualificationsDB;User ID=sa;Password=123qwe"
      providerName="System.Data.SqlClient" />
    <add name="QualificationsDBConnectionString3" connectionString="Data Source=WIN-KNO95PNPR5K\SQLEXPRESS;Initial Catalog=QualificationsDB;User ID=sa;Password=123qwe"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Authentication.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IReportingAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAuthenticationService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IUserAccountAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IEvaluationPlanAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IGlobalPlanAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IInscriptionAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IModuleAsigAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IModuleAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IOpeningProgramAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPolicyPasswordAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAcademicService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IQualificationAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IStudentModuleAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IStudentAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ITeacherModuleAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ITeacherAdminService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/AcademicServicesHostIIS/AuthenticationService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthenticationService"
        contract="AuthenticationService.IAuthenticationService" name="WSHttpBinding_IAuthenticationService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/UserAccountService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserAccountAdminService"
        contract="UserAccountAdminService.IUserAccountAdminService"
        name="WSHttpBinding_IUserAccountAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/EvaluationPlanService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEvaluationPlanAdminService"
        contract="EvaluationPlanService.IEvaluationPlanAdminService"
        name="WSHttpBinding_IEvaluationPlanAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/GlobalPlanService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGlobalPlanAdminService"
        contract="GlobalPlanService.IGlobalPlanAdminService" name="WSHttpBinding_IGlobalPlanAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/InscriptionsAdminService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInscriptionAdminService"
        contract="InscriptionService.IInscriptionAdminService" name="WSHttpBinding_IInscriptionAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/ModuleAsingService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IModuleAsigAdminService"
        contract="ModuleAsignationService.IModuleAsigAdminService" name="WSHttpBinding_IModuleAsigAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/ModuleAdminService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IModuleAdminService"
        contract="ModuleService.IModuleAdminService" name="WSHttpBinding_IModuleAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/OpeningProgramService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOpeningProgramAdminService"
        contract="OpeningService.IOpeningProgramAdminService" name="WSHttpBinding_IOpeningProgramAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/PolicyPasswordService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPolicyPasswordAdminService"
        contract="PolicyPasswordService.IPolicyPasswordAdminService"
        name="WSHttpBinding_IPolicyPasswordAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/Service.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAcademicService"
        contract="ProgramService.IAcademicService" name="WSHttpBinding_IAcademicService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/QualificationService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQualificationAdminService"
        contract="QualificationService.IQualificationAdminService" name="WSHttpBinding_IQualificationAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/ReportingsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportingAdminService"
        contract="ReportingService.IReportingAdminService" name="BasicHttpBinding_IReportingAdminService" />
      <endpoint address="http://localhost/AcademicServicesHostIIS/StudentModuleService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStudentModuleAdminService"
        contract="StudentModuleService.IStudentModuleAdminService" name="WSHttpBinding_IStudentModuleAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/StudentsAdminService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStudentAdminService"
        contract="StudentService.IStudentAdminService" name="WSHttpBinding_IStudentAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/TeacherModuleService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITeacherModuleAdminService"
        contract="TeacherModuleService.ITeacherModuleAdminService" name="WSHttpBinding_ITeacherModuleAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/AcademicServicesHostIIS/TeachersAdminService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITeacherAdminService"
        contract="TeachersService.ITeacherAdminService" name="WSHttpBinding_ITeacherAdminService">
        <identity>
          <servicePrincipalName value="host/WIN-KNO95PNPR5K" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
